<div class="container-fluid">
  <div class="row row1">
    <div class="divInput1">
      <p class="subscribe fs-4">Subscribe for more info</p>
      <input type="text" placeholder="Enter your email" /><button>
        SUBSCRIBE
      </button>
    </div>
  </div>
  <div class="row row2">
    <div class="col-md-6 description">
      <app-about-products-description></app-about-products-description>
    </div>
    <div class="col-md-6 description">
      <app-about-team-description></app-about-team-description>
    </div>
  </div>
  <div class="row row3"></div>
</div>
