.row1 {
  height: 400px;
  background-color: lightgray;
}
.row2 {
  height: 700px;
}
.row3 {
  height: 200px;
  background-color: lightgray;
}
.subscribe {
  text-align: center;
  margin-top: 120px;
}
input {
  width: 250px;
  margin-left: 1050px;
}
button {
  width: 150px;
}
button:hover {
  background-color: lightgreen;
}
.divInput1 {
  margin-bottom: 200px;
}
