.btnDelete {
  width: 140px;
}

button:hover {
  background-color: lightgreen;
}

p {
  display: grid;
  justify-content: center;
  color: white;
}

ul {
  background-color: lightblue;
}

.ulWidth {
  width: 50px;
}

img {
  width: 150px;
  height: 150px;
}
