<div class="row">
  <app-list-products
    [updateProducts]="productsFinal"
    class="col-md-2"
    (onChangeProduct)="changeProduct($event)"
    (onFilter)="filter()"
    (onResetFilter)="resetFilter()"
  ></app-list-products>

  <div class="container col-md-10 border bg-light">
    <div class="row border" [ngClass]="addCart ? 'bg-success' : ''">
      <div class="col-4 p-5">
        <img class="img centrarImg" src="{{ img }}" />
      </div>
      <div class="col-4">
        <div class="row mt-2">
          <div class="col">
            <span class="fs-4">{{ productTitle }}</span
            ><br />
            <i
              *ngFor="let star of stars; let i = index"
              [class]="star"
              (click)="changeRating(i)"
            ></i>
          </div>
          <div class="col mt-1">
            <span (click)="checkFavorite()" class="cursor">
              <i [ngClass]="isCheck ? 'bi bi-heart-fill' : 'bi bi-heart'"></i>
            </span>
          </div>
          <div class="col mt-1 cart">
            <img
              routerLink="/cart"
              routerLinkActive="active"
              src="/assets/icons8-carrito-de-compras-24.png"
            /><br />
            <!--{{ added }}-->
          </div>
        </div>
        <br />
        <div class="row">$ {{ price }}</div>
        <br />
        <div class="row">
          {{ productDescription }}
        </div>
        <div class="row">
          <button class="rounded btnDelete mt-4 mb-5" (click)="deleteProduct()">
            Delete product
          </button>
          &nbsp; &nbsp;
          <button class="rounded btnDelete mt-4 mb-5" (click)="addToCart()">
            Add to cart
          </button>
        </div>
      </div>
      <div class="col-md-4 mt-3">
        <button class="rounded" routerLink="/form" routerLinkActive="active">
          Create product
        </button>
      </div>
    </div>
    <div class="row border" [ngClass]="addCart ? 'bg-success' : ''">
      <div class="row justify-content-center fs-4 p-3">Similar Products</div>
      <br /><br />
      <div class="row">
        <div class="col-6 p-3">
          <div class="row">
            <div class="col mb-2">
              <img class="img similarImg1" src="{{ similarImg1 }}" />
            </div>
            <div class="col mt-4">
              <p>{{ simmilarProduct1 }}</p>
              <br />
              <p>${{ similarPrice1 }}</p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col mt-3">
              <img class="img" src="{{ similarImg2 }}" />
            </div>
            <div class="col mt-4">
              <p>{{ simmilarProduct2 }}</p>
              <br />
              <p>${{ similarPrice2 }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row border" [ngClass]="addCart ? 'bg-success' : ''">
      <div class="row">
        <span class="fs-4 p-3 reviews">Reviews</span>
      </div>
      <br /><br />
      <div class="row">
        <div class="col">
          <img class="img reviewImg" src="{{ reviewImg1 }}" />
        </div>
        <div class="col">{{ reviewName1 }}</div>
        <div class="col">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia eaque,
          dolore harum voluptate ut fuga tempora qui est omnis perferendis fugit
          vel amet suscipit earum? Nesciunt obcaecati voluptatibus sunt sed.
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <img class="img reviewImg" src="{{ reviewImg2 }}" />
        </div>
        <div class="col">{{ reviewName2 }}</div>
        <div class="col">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia eaque,
          dolore harum voluptate ut fuga tempora qui est omnis perferendis fugit
          vel amet suscipit earum? Nesciunt obcaecati voluptatibus sunt sed.
        </div>
      </div>
    </div>
  </div>
</div>
