.img {
  width: 150px;
  height: 150px;
}

.cursor {
  cursor: pointer;
}

.similarImg1 {
  margin-left: 10px;
}

.reviewImg {
  margin-left: 20px;
}

button {
  background-color: lightblue;
}

.btnList {
  width: 100px;
}

.resetFilter {
  margin-bottom: 40px;
}

.reviews {
  text-align: center;
}

.btnDelete {
  width: 140px;
}

.favImg {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.backgroundFav {
  background-color: grey;
}

button:hover {
  background-color: lightgreen;
}

.centrarImg {
  display: grid;
  justify-content: center;
  align-items: center;
}

i:hover {
  cursor: pointer;
}
