.img {
  width: 150px;
  height: 150px;
}

.cursor {
  cursor: pointer;
}

.similarImg1 {
  margin-left: 10px;
}

button {
  background-color: lightblue;
}

.btnList {
  width: 100px;
}

.resetFilter {
  margin-bottom: 40px;
}

.reviews {
  text-align: center;
}
