<nav class="navbar navbar-expand-lg bg-secondary-subtle container-fluid">
  <div class="container justify-content-end">
    <a class="nav-link" routerLink="/" routerLinkActive="active"
      ><span>Home |</span></a
    >&nbsp;&nbsp;
    <a class="nav-link" routerLink="/about" routerLinkActive="active"
      ><span>About |</span></a
    >&nbsp;&nbsp; <a class="nav-link" routerLink="/"><span>Shop |</span></a
    >&nbsp;&nbsp;
    <a class="nav-link" routerLink="/"><span>Help</span></a>
  </div>
</nav>
