.btnList {
  width: 100px;
  background-color: lightblue;
}

.resetFilter {
  margin-bottom: 40px;
}

.cursor {
  cursor: pointer;
}

.ml {
  margin-left: 0px;
}

ul:hover {
  color: green;
}

button:hover {
  background-color: lightgreen;
}
