<div class="container">
  <form
    class="mt-5"
    (ngSubmit)="sendUserInfo()"
    [formGroup]="userForm"
    autocomplete="off"
  >
    <div class="form-group mb-3 mt-3">
      <label for="productName">Product name</label><br />
      <input
        type="text"
        class="form-control"
        id="productName"
        placeholder="Type name here"
        formControlName="productName"
      />
      <small
        *ngIf="validateField('productName')"
        id="productNameError"
        class="form-text text-danger"
      >
        field invalid.
      </small>
    </div>
    <div class="form-group mb-3">
      <label for="price">Price</label><br />
      <input
        type="number"
        class="form-control"
        id="price"
        placeholder="Type price here"
        formControlName="price"
      />
      <small
        *ngIf="validateField('price')"
        id="priceError"
        class="form-text text-danger"
      >
        field invalid.
      </small>
    </div>
    <div class="form-group mb-3">
      <label for="description">Description</label><br />
      <textarea
        type="text"
        class="form-control"
        id="description"
        placeholder="Type your message here"
        formControlName="description"
      >
      </textarea>
      <small
        *ngIf="validateField('description')"
        id="descriptionError"
        class="form-text text-danger"
      >
        field invalid.
      </small>
    </div>
    <button type="submit" [disabled]="userForm.invalid" class="rounded mb-3">
      Create product
    </button>
  </form>
</div>
